<!DOCTYPE html>
<html>
<head>
	<title>Jquery carousel slider</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="Made with WOW Slider - Create beautiful, responsive image sliders in a few clicks. Awesome skins and animations. Jquery carousel slider" />
	
	<!-- Start WOWSlider.com HEAD section --> <!-- add to the <head> of your page -->
	<link rel="stylesheet" type="text/css" href="engine1/style.css" />
	<script type="text/javascript" src="engine1/jquery.js"></script>
	<!-- End WOWSlider.com HEAD section -->

</head>
<body style="background-color:#d7d7d7;margin:auto">
	
	<!-- Start WOWSlider.com BODY section --> <!-- add to the <body> of your page -->
	<div id="wowslider-container1">
	<div class="ws_images"><ul>
		<li><img src="data1/images/9yx2r8ausl.jpg" alt="Stones" title="Stones" id="wows1_0"/></li>
		<li><img src="data1/images/10basicbuildingconstructionmaterials.jpg" alt="All Construction Material" title="All Construction Material" id="wows1_1"/></li>
		<li><img src="data1/images/b3a9e105aa7e999337c4f0763e60e841.png" alt="" title="" id="wows1_2"/></li>
		<li><img src="data1/images/badal2768x414.jpg" alt="badal-2-768x414" title="badal-2-768x414" id="wows1_3"/></li>
		<li><img src="data1/images/badal3.jpg" alt="Marbal" title="Marbal" id="wows1_4"/></li>
		<li><img src="data1/images/herehowyoushouldchooseconstructionmaterialforyourhouse1.jpg" alt="All Material Available" title="All Material Available" id="wows1_5"/></li>
		<li><img src="data1/images/maxresdefault.jpg" alt="" title="" id="wows1_6"/></li>
		<li><a href="http://wowslider.net"><img src="data1/images/pakcem2.jpg" alt="javascript slideshow" title="Cement" id="wows1_7"/></a></li>
		<li><img src="data1/images/pakcem3.jpg" alt="All Cement" title="All Cement" id="wows1_8"/></li>
	</ul></div>
	<div class="ws_bullets"><div>
		<a href="#" title="Stones"><span><img src="data1/tooltips/9yx2r8ausl.jpg" alt="Stones"/>1</span></a>
		<a href="#" title="All Construction Material"><span><img src="data1/tooltips/10basicbuildingconstructionmaterials.jpg" alt="All Construction Material"/>2</span></a>
		<a href="#" title=""><span><img src="data1/tooltips/b3a9e105aa7e999337c4f0763e60e841.png" alt=""/>3</span></a>
		<a href="#" title="badal-2-768x414"><span><img src="data1/tooltips/badal2768x414.jpg" alt="badal-2-768x414"/>4</span></a>
		<a href="#" title="Marbal"><span><img src="data1/tooltips/badal3.jpg" alt="Marbal"/>5</span></a>
		<a href="#" title="All Material Available"><span><img src="data1/tooltips/herehowyoushouldchooseconstructionmaterialforyourhouse1.jpg" alt="All Material Available"/>6</span></a>
		<a href="#" title=""><span><img src="data1/tooltips/maxresdefault.jpg" alt=""/>7</span></a>
		<a href="#" title="Cement"><span><img src="data1/tooltips/pakcem2.jpg" alt="Cement"/>8</span></a>
		<a href="#" title="All Cement"><span><img src="data1/tooltips/pakcem3.jpg" alt="All Cement"/>9</span></a>
	</div></div><div class="ws_script" style="position:absolute;left:-99%"><a href="http://wowslider.net">jquery carousel slider</a> by WOWSlider.com v9.0</div>
	<div class="ws_shadow"></div>
	</div>	
	<script type="text/javascript" src="engine1/wowslider.js"></script>
	<script type="text/javascript" src="engine1/script.js"></script>
	<!-- End WOWSlider.com BODY section -->

</body>
</html>